@font-face {
    font-family: 'playfair';
    src: url('./Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf'),
        url('./Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf');
    font-style: normal;
    font-weight: 100 600;
}

@font-face {
    font-family: 'roboto';
    src: url('./Roboto/Roboto-VariableFont_wdth,wght.ttf'),
        url('./Roboto/Roboto-Italic-VariableFont_wdth,wght.ttf');
    font-style: normal;
    font-weight: 100 600;
}

:root {
    --main-bg-color2: #ee3c68;
    --main-bg-color: oklch(0.609 0.126 221.723);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: oklch(0.998 0.002 247.839);
}

header {
    height: 500px;
}

div.slant {
    height: 130%;
    position: relative;
    z-index: 0;
    top: -715px;
    transform: skewY(-10deg);
    background-color: var(--main-bg-color);
    box-shadow: rgba(22, 22, 22, 0.24) 5px 5px 8px;
}


div.header-items {
    height: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 55px;
}

div.header-img {
    width: 440px;
    height: 460px;
    background-image: url('work-photo1.jpg');
    background-size: cover;
    background-position: 35% 25%;
    box-shadow: rgba(22, 22, 22, 0.24) 4px 4px 5px;
    z-index: 1;
}

p.name {
    font-family: playfair;
    font-size: 52px;
    color: white;
    position: relative;
    top: 86%;
    left: 5%;
    text-shadow: 1px 2px 5px rgb(110, 110, 110);
}

div.about-me-container {
    max-width: 560px;
    height: 370px;
    margin-top: 15px;
    padding: 12px 30px 14px 20px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: white;
    box-shadow: rgba(70, 70, 70, 0.24) 4px 4px 5px;
    z-index: 0;
}

h1.about-me {
    font-family: playfair;
    font-weight: 450;
    font-size: 37px;
    padding-top: 0px;
    padding-bottom: 5px;
}

p.about-me {
    font-family: roboto;
    font-weight: 400;
    font-size: 19px;
    color: oklch(0.52 0 0);
    line-height: 1.7rem;
    padding-bottom: 16px;
}

 div.icon-row.about-me {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
 }


main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 85px 0px 105px 0px;
}

main > h1 {
    width: 1000px;
    font-family: playfair;
    font-weight: 450;
    font-size: 38px;
    margin-bottom: 10px;
}

.projects-container {
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 310px);
    justify-content: center;
    gap: 35px;
    row-gap: 42px;
}

.project {
    width: 305px;
    height: 370px;
    background-color: white;
    box-shadow: 2px 2px 7px 2px rgba(70, 70, 70, 0.24);
}

.screenshot {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 40px;
}

.screenshot.one {
    background-color: rgb(146, 18, 18);
}

.screenshot.two {
    background-color:rgb(136, 119, 233)
}

.screenshot.three {
    background-color: rgb(30, 146, 82);
}

.screenshot.four {
    background-color: rgb(211, 89, 180);
}

.screenshot.five {
    background-color: rgb(202, 142, 31);
}

.screenshot.six {
    background-color: rgb(27, 148, 196);
}


.screenshot > h1 {
    font-family: playfair;
    font-weight: 450;
    font-size: 37px;
    color: white;
    text-align: center;
}

.project-about {
    width: 100%;
    padding: 8px 21px;
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
}

.project-name > h1 {
    font-family: playfair;
    font-size: 19px;
    font-weight: 300;
}

.icon-row.projects {
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.icon-row.projects > .icon {
    width: 20px;
    height: 20px;
}

p.project-description {
    font-family: roboto;
    font-size: 15px;
    color: oklch(0.52 0 0);
}

footer {
    height: auto;
    background-color:var(--main-bg-color);
    color: oklch(0.985 0 0);
    padding: 55px 455px; 
    display: flex;
    justify-content: center;
    gap: 25px;
}

.contact-me {
    max-width: 400px;
    padding: 0px 30px 0px 0px;
}

.contact {
    font-family: playfair;
    font-weight: 400;
    font-size: 37px;
    padding-top: 0px;
    padding-bottom: 5px;

}

footer p {
    font-family: roboto;
    font-size: 18.5px;
    font-weight: 380;
    padding: 13px 0px;
}

.phone {
    height: 35px;
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 13px;
}

.email {
    height: 35px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.icon.footer-phone, .icon.footer-email {
    width: 28px;
    height: 28px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.footer-img {
    min-width: 560px; 
    height: 410px;
    background-image: url('work-photo2.jpg');
    background-size: cover;
    margin: 0px;
}

.icon-row.footer {
    margin-top: 28px;
}

.icon-row.footer > .icon {
    width: 46px;
    height: 46px;
    margin-right: 15px;
}

.icon {
    width: 32px;
    height: 32px;
}


@media (max-width: 1200px) and (min-width: 901px) {
    header {
        height: 700px;
    }

    p.name {
        font-size: 49px;
        width: 500px;
        top: 2%;
        left: 92%;        
    }

    div.header-items {
        display: block flow;
        margin: 0 12% 0 15%;
    }

    div.header-img {
        width: 340px;
        height: 350px;
        display: inline-block;
        position: relative;
    }

    div.about-me-container {
        display: inline-block;
        width: 620px;
        height: 430px;
        position: relative;
        left: 10%;
        top: -43%;
        padding: 35px 10px 20px 20px;
    }

    h1.about-me:before {
        content: "";
        width: 270px;
        height: 225px;
        float: left;
        visibility: hidden;
    }

    h1.about-me {
        font-size: 34px;
        padding-top: 25px;
        padding-bottom: 18px;
        text-align: center;
    }

    div.icon-row.about-me {
        display: none;
    }

    div.slant {
        top: -1225px;
    }

    main {
        margin: -110px 0px 90px 0px;
    }

    main > h1 {
        width: 510px;
        text-align: center;
    }

    .projects-container {
        max-width: 800px;
        justify-content: center;
    }

    footer {
        padding: 40px 18px 40px 18px;
    }

    .contact {
        padding-top: 40px;
    }

    .footer-img {
        min-width: 250px;
        background-size: cover;
        background-position: 13% 0%;
    }
}

@media (max-width: 900px) and (min-width: 701px) {
    header {
        height: 700px;
    }

    p.name {
        font-size: 49px;
        width: 500px;
        top: 2%;
        left: 85%;        
    }

    div.header-items {
        display: block flow;
        margin: 0 7%;
    }

    div.header-img {
        width: 340px;
        height: 350px;
        display: inline-block;
        position: relative;
    }

    div.about-me-container {
        display: inline-block;
        width: 620px;
        height: 430px;
        position: relative;
        left: 10%;
        top: -43%;
        padding: 35px 10px 20px 20px;
    }

    h1.about-me:before {
        content: "";
        width: 270px;
        height: 225px;
        float: left;
        visibility: hidden;
    }

    h1.about-me {
        font-size: 34px;
        padding-top: 25px;
        padding-bottom: 18px;
        text-align: center;
    }

    div.icon-row.about-me {
        display: none;
    }

    div.slant {
        top: -1225px;
    }

    main {
        margin: -110px 0px 90px 0px;
    }

    main > h1 {
        width: 510px;
        text-align: center;
    }

    .projects-container {
        max-width: 800px;
        justify-content: center;
    }

    footer {
        padding: 40px 18px 40px 18px;
    }

    .contact {
        padding-top: 40px;
    }

    .footer-img {
        min-width: 250px;
        background-size: cover;
        background-position: 13% 0%;
    }
}

@media (max-width: 700px) {
    header {
        height: 1000px;
    }
    div.header-items {
        flex-direction: column;
    }

    div.header-img {
        width: 90%;
    }

    p.name {
        font-size: 49px;
        width: 60%;
        top: 70%;
    }

    div.about-me-container {
        height: auto;
        box-shadow: none;
        margin-top: 10px;
    }

    h1.about-me {
        text-align: center;
        padding-bottom: 8px;
    }

    div.icon-row.about-me {
        justify-content: center;
    }

    div.slant {
        top: -1150px;
        height: 600px;
        transform: skewY(-11deg);
    }

    main {
        margin: 25px 0px 90px 0px;
    }

    main > h1 {
        width: 310px;
        text-align: center;
    }

    .projects-container {
        max-width: 600px;
        justify-content: center;
    }

    footer {
        padding: 23px 18px 0px 18px;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        overflow: hidden;
    }

    .contact-me {
        padding-bottom: 45px;
    }

    .contact {
        text-align: center;
        font-size: 40px;
        padding-bottom: 12px;
    }

    .email > p, .phone > p {
        font-size: 14px;
    }

    .icon-row.footer {
        display: flex;
        justify-content: center;
    }

    .footer-img {
        min-width: 140%;
        min-height: 400px;
    }
}