@font-face {
    font-family: 'playfair';
    src: url('./Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf'),
        url('./Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('./Roboto/Roboto-VariableFont_wdth,wght.ttf'),
        url('./Roboto/Roboto-Italic-VariableFont_wdth,wght.ttf');
    font-weight: 600;
    font-style: normal;
}

:root {
    --main-bg-color: oklch(0.609 0.126 221.723);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    height: 500px;
    background-color: aliceblue;
}

div.slant {
    height: 105%;
    position: relative;
    z-index: 0;
    top: -230px;
    transform: skewY(-9deg);
    background-color: var(--main-bg-color);
}

div.header-items {
    position: relative;
    z-index: 1;
}

main {
    height: 900px;
}

footer {
    height: 500px;
    background-color:var(--main-bg-color);
}

.photo1 {
    max-width: 250px;
}

.photo2 {
    max-width: 330px;
}

.icon {
    width: 25px;
}

.other-icon {
    width: 20px;
    height: 20px
}