@font-face {
    font-family: 'playfair';
    src: url('./Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf'),
        url('./Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf');
    font-style: normal;
    font-weight: 100 600;
}

@font-face {
    font-family: 'roboto';
    src: url('./Roboto/Roboto-VariableFont_wdth,wght.ttf'),
        url('./Roboto/Roboto-Italic-VariableFont_wdth,wght.ttf');
    font-style: normal;
    font-weight: 100 600;
}

:root {
    --main-bg-color2: #ee3c68;
    --main-bg-color: oklch(0.609 0.126 221.723);

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    height: 500px;
   /* background-color: aliceblue; */
}

div.slant {
    height: 130%;
    position: relative;
    z-index: 0;
    top: -715px;
    transform: skewY(-10deg);
    background-color: var(--main-bg-color);
   /* box-shadow: 10px 5px 5px oklch(0.928 0.006 264.531); */
    box-shadow: rgba(22, 22, 22, 0.24) 5px 5px 8px;
}

div.header-items {
    height: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 55px;
}

div.header-img {
    width: 440px;
    height: 460px;
    background-image: url('work-photo1.jpg');
    background-size: cover;
    background-position: 35% 25%;
    box-shadow: rgba(22, 22, 22, 0.24) 4px 4px 5px;
    z-index: 1;
}

p.name {
    font-family: playfair;
    font-size: 16px;
    color: white;
}

div.about-me-container {
    max-width: 560px;
    height: 370px;
    margin-top: 15px;
    padding: 12px 30px 14px 20px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: white;
    box-shadow: rgba(70, 70, 70, 0.24) 4px 4px 5px;
    z-index: 0;
}

h1.about-me {
    font-family: playfair;
    font-weight: 450;
    font-size: 37px;
    padding-top: 0px;
    padding-bottom: 5px;
}

p.about-me {
    font-family: roboto;
    font-weight: 400;
    font-size: 19px;
    color: oklch(0.52 0 0);
    line-height: 1.7rem;
    padding-bottom: 16px;
}

 div.icon-row.about-me {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
 }


main {
    margin: 85px 455px;
}

main > h1 {
    font-family: playfair;
    font-weight: 450;
    font-size: 38px;
    margin-bottom: 10px;
}

.projects-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 310px);
    gap: 35px;
    row-gap: 42px;

}

.project {
    width: 300px;
    height: 370px;
    background-color: white;
    box-shadow: 2px 2px 7px 2px rgba(70, 70, 70, 0.24)
}

.screenshot {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 40px;
}

.screenshot.one {
    background-color: rgb(146, 18, 18);
}

.screenshot.two {
    background-color:rgb(136, 119, 233)
}

.screenshot.three {
    background-color: rgb(30, 146, 82);
}

.screenshot.four {
    background-color: rgb(211, 89, 180);
}

.screenshot.five {
    background-color: rgb(202, 142, 31);
}

.screenshot.six {
    background-color: rgb(27, 148, 196);
}


.screenshot > h1 {
    font-family: playfair;
    font-weight: 450;
    font-size: 37px;
    color: white;
    text-align: center;
}

.project-about {
    width: 100%;
    padding: 8px 21px;
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
}

.project-name > h1 {
    font-family: playfair;
    font-size: 19px;
    font-weight: 300;
}

.icon-row.projects {
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.icon-row.projects > .icon {
    width: 20px;
    height: 20px;

}

p.project-description {
    font-family: roboto;
    font-size: 15px;
    color: oklch(0.52 0 0);
}

footer {
    height: 500px;
    background-color:var(--main-bg-color);
}

.icon {
    width: 32px;
    height: 32px;
}

.other-icon {
    width: 20px;
    height: 20px
}

@media (max-width: 600px) {
    main {
        margin: 25px 5px;
    }

}

@media (max-width: 1200px) {
    main {
        margin: 25px 30px
    }

}